@model AddNewsitemViewModel
@{
    ViewData["Title"] = Model.Title;
}

<div class="container">
    <h1>Add a Newsitem</h1>
    <hr />
    <form method="post" asp-action="Add">
        <div class="form-group">
            <label for="url">URL</label>
            <input type="url" class="form-control" name="URL" id="url" placeholder="URL" value="@Model.URL">
        </div>
        <div class="form-group">
            <label for="categories">Category</label>
            <select name="CategoryID" class="custom-select">
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.ID" style="color: #fff; background-color: @category.Color">@category.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="Title" placeholder="Title" value="@Model.Title">
        </div>
        <div class="form-group">
            <label for="summary">Summary</label>
            <textarea class="form-control" id="summary" name="Summary" rows="3">@Model.Summary</textarea>
        </div>
        <div class="form-group">
            <label for="tags">Tags</label>
            <select multiple class="form-control" id="tags" name="tags">
                @if (Model.Tags != null)
                {
                    foreach (var tag in Model.Tags)
                    {
                        <option selected>@tag</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="image">Favicon URL</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="padding:0"><img src="@Model.Favicon" alt="Site Favicon" style="height:16px" /></span>

                </div>
                <input class="form-control" type="url" class="form-control" id="faviconurl" pattern="^https://.+" name="favicon" placeholder="Favicon URL" value="@Model.Favicon">
                <div class="input-group-append">
                    <span id="reset-faviconurl" class="input-group-text">Reset</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="image">Image URL</label>
            <div class="input-group mb-3">
                <input class="form-control" type="url" class="form-control" id="image" pattern="^https://.+" name="ImageURL" placeholder="Image URL" value="@Model.Images.FirstOrDefault()">
                <div class="input-group-append">
                    <span id="reset-url" class="input-group-text" id="basic-addon2">Reset</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <ul class="list-unstyled">
                    @foreach (var image in Model.Images)
                    {
                        <li class="media">
                            <img src="@image" onerror="this.parentElement.classList.add('broken')" style="display: none;" />
                            <div class="media-img" style="background-image: url(@image)"></div>
                            <div class="media-body">
                                <span class="mt-0 mb-1">...@image.Substring(Math.Max(0, image.Length - 40))</span>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="col d-sm-none d-md-block">
                <img class="img-preview"></img>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
