@using System.Reflection;
@model List<CategoryNewsItemsViewModel>
@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <h2>@(Assembly.GetEntryAssembly()?.GetName().Version.ToString())</h2>
            <h1>News Categories</h1>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary select-all" autocomplete="off"></button>
        </div>
    </div>
    @foreach (var categoryNewsItemsViewModel in Model)
    {
        <div class="mb-4 category">
            <h2>@categoryNewsItemsViewModel.Category.Name</h2>
            <table class="table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th width="5%" scope="col"></th>
                        <th width="15%" scope="col">Title</th>
                        <th width="80%" scope="col">Summary</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var newsItem in categoryNewsItemsViewModel.Newsitems)
                    {
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>@newsItem.Title</td>
                            <td>@newsItem.Summary</td>
                            <td><span class="deletePost" data-deleteurl="@Url.Action("Delete","Newsitem")" data-newsitemid="@newsItem.ID">🗑️</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    <a href="javascript: window.open('@Url.AbsoluteAction("Add", "Newsitem")?url=' + encodeURIComponent(document.location), '_blank')">Add to Newsletter</a><br />
    <a asp-action="Preview" asp-controller="Email" asp-route-isWeb="true">Email Preview</a>

    <form method="get" asp-action="Add" asp-controller="Newsitem">
        <input type="url" name="url" placeholder="URL" />
        <input type="submit" value="Submit" />
    </form>
</div>
