@using System.Reflection;
@model PreviewModel
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    @if (Model.IsWeb)
    {
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>cdemi's Curated Newsletter for @DateTime.Now.ToString("dd MMMM yyyy")</title>
        <meta property="og:title" content="cdemi's Curated Newsletter for @DateTime.Now.ToString("dd MMMM yyyy")" />
        <meta property="og:site_name" content="newsletters.cdemi.io" />
        <meta property="og:description" content="This week's most important news articles about @(String.Join(", ",Model.Newsitems.SelectMany(c=> c.Category.HashTags.Select(h=>"#" + h)).ToArray()))" />
        <meta property="og:image" content="@Model.CoverPicture" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta name="author" content="Christopher Demicoli">


        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#3f51b5" />
        <meta name="msapplication-TileColor" content="#3f51b5" />
        <meta name="theme-color" content="#3f51b5" />
    }

    <style type="text/css">
        body {
            margin: 0 !important;
            padding: 0 !important;
            width: 100% !important;
            font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            color: #333;
        }

        h2, h3, h4 {
            margin: 0;
            mso-line-height-rule: exactly;
            line-height: 1.4em !important;
        }

        h1 {
            margin: 0;
            mso-line-height-rule: exactly;
            line-height: 1.2em !important;
        }

        a {
            margin: 0 !important;
            text-decoration: underline !important;
            color: #2C8693 !important;
        }

            a, a span {
                text-decoration: none !important;
                color: #2C8693 !important;
            }
    </style>
</head>
<body style="margin:0; padding:0; background-color:#F2F2F2;">
    <center>
        <table width="90%" border="0" cellpadding="0" cellspacing="0" style="width: 90%; max-width: 580px; padding: 40px; color: #3f51b5">
            <tr>
                <td align="center">

                    <h2>cdemi's</h2>
                    <table>
                        <tr>
                            <td align="right" style="width:45%">
                                <h1>Curated</h1>
                            </td>
                            <td align="center">
                                <h1>
                                    📰
                                </h1>
                            </td>
                            <td align="left" style="width:45%">
                                <h1>
                                    Newsletter
                                </h1>
                            </td>
                        </tr>
                    </table>
                    <h4 style="padding:10px 0 0 0;">@DateTime.Now.ToString("dd MMMM yyyy")</h4>
                </td>
            </tr>
        </table>
        @foreach (var category in Model.Newsitems)
        {
            <table width="90%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="width: 90%; max-width: 580px;">
                <tr>
                    <td align="center" bgcolor="@category.Category.Color" style="color:#fff; padding:10px 20px;">
                        <h2>
                            @category.Category.Name
                            @foreach (var hashTag in category.Category.HashTags.Where(h=>!h.Replace(" ","").Equals(category.Category.Name.Replace(" ",""), StringComparison.InvariantCultureIgnoreCase)))
                            {
                                <span style="
                                    font-size: 12px;
                                    opacity: 0.7;
                                    background-color: #fff !important;
                                    color: @category.Category.Color !important;
                                    border-radius: 5px;
                                    padding: 3px 5px;
                                    margin-left: 5px;
                                    white-space: nowrap;
                                    vertical-align: middle;
                                ">#@hashTag</span>
                            }
                        </h2>
                </td>
            </tr>
            @foreach (var newsItem in category.Newsitems)
            {
                <tr>
                    <td style="padding:30px 20px 0 20px;">
                        <a href="@newsItem.URL" target="_blank">
                            <h3>
                                <span style="color: @category.Category.Color !important">
                                    @if (newsItem.FaviconURL != null)
                                    {
                                        <span>
                                            <img src="@newsItem.FaviconURL" style="height:16px" alt="@(newsItem.Title) Favicon" />
                                        </span>
                                    }
                                    <span style="color: @category.Category.Color !important">@(newsItem.Title)</span>

                                </span>
                                <span style="font-size: 12px; opacity: 0.7; color: @category.Category.Color !important">
                                    (@(new Uri(newsItem.URL).Host.Replace("www.", "")))
                                </span>
                                @if (newsItem.Tags != null && newsItem.Tags.Any())
                                {
                                    @foreach (var tag in newsItem.Tags)
                                    {
                                        <span style="font-size: 12px; opacity: 0.7; background-color: @category.Category.Color !important; color: #fff !important; border-radius: 5px; padding: 3px 5px; white-space:nowrap;text-transform: capitalize;">@tag</span>
                                    }
                                }
                            </h3>

                        </a>
                    </td>
                </tr>
                @if (!String.IsNullOrEmpty(newsItem.ImageURL))
                {
                    <tr>
                        <td align="center" style="padding:10px 20px 10px 20px;">
                            <a href="@newsItem.URL" target="_blank">
                                <img loading="lazy" src="@newsItem.ImageURL" style="margin:0; padding:0; border:1px solid #ccc; display:block; width: 100%" border="0" alt="" />
                            </a>
                        </td>
                    </tr>
                }
                <tr>
                    <td align="justify" style="padding:0 20px 30px 20px; border-bottom:1px solid #eee; word-break: break-word; overflow-wrap: break-word;">
                        @newsItem.Summary... <a href="@newsItem.URL" target="_blank" style="color: @category.Category.Color !important">Read more</a>
                    </td>
                </tr>
            }
        </table>
        <table width="90%" border="0" cellpadding="0" cellspacing="0" style="width: 90%; max-width: 580px; padding: 20px">
            <tr>
                <td align="center"></td>
            </tr>
        </table>
    }
        <table width="90%" border="0" cellpadding="0" cellspacing="0" style="width: 90%; max-width: 580px; padding: 20px; font-size: 10pt; color: #999999">
            <tr>
                <td align="center" style="line-height: 15px;">
                    This newsletter is made with 💖 by <a href="https://blog.cdemi.io">cdemi</a> and sponsored by <a href="https://moo.mt" target="_blank" rel="noopener">moo Research</a>.<br /><br />
                    You can find this <a href="https://github.com/cdemi/NewsletterCurator/blob/master/LICENSE">MIT Licensed</a> open-source project on <a href="https://github.com/cdemi/NewsletterCurator">GitHub cdemi/NewsletterCurator</a>. Generated with version @(Assembly.GetEntryAssembly()?.GetName().Version.ToString()).<br /><br />
                    You can also find an archive of all sent newsletters on GitHub at <a href="https://newsletters.cdemi.io/">https://newsletters.cdemi.io/</a>. <br /><br />
                    If you want to <a href="@Url.AbsoluteAction("Unsubscribe","Newsletter")">unsubscribe</a> from this newsletter, please <a href="@Url.AbsoluteAction("Unsubscribe","Newsletter")">click here</a>.
                    If you're new and you want to <a href="@Url.AbsoluteAction("Subscribe","Newsletter")">subscribe</a> to this newsletter, please <a href="@Url.AbsoluteAction("Subscribe","Newsletter")">click here</a>.
                </td>
            </tr>
        </table>

    </center>
    @if (Model.IsWeb)
    {
        <script>
            // This is the "Offline copy of pages" service worker
            // Add this below content to your HTML page, or add the js file to your page at the very top to register service worker
            // Check compatibility for the browser we're running this in
            if ("serviceWorker" in navigator) {
                if (navigator.serviceWorker.controller) {
                    console.log("[PWA Builder] active service worker found, no need to register");
                } else {
                    // Register the service worker
                    navigator.serviceWorker
                        .register("pwabuilder-sw.js", {
                            scope: "./"
                        })
                        .then(function (reg) {
                            console.log("[PWA Builder] Service worker has been registered for scope: " + reg.scope);
                        });
                }
            }
        </script>
    }
</body>
</html>
