@model List<CategoryNewsItemsViewModel>
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@DateTime.Now.ToString("dd MMMM yyyy") - cdemi's Curated Newsletter</title>

    <style type="text/css">

        body {
            margin: 0 !important;
            padding: 0 !important;
            width: 100% !important;
            font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            color: #333;
        }


        h1, h2, h3, h4 {
            margin: 0;
            mso-line-height-rule: exactly;
        }

        a {
            text-decoration: none;
            color: #333;
        }

        p a {
            margin: 0;
            font-weight: bold;
            text-decoration: underline;
            color: #35b900;
        }
    </style>
</head>
<body style="margin:0; padding:0; background-color:#F2F2F2;">
    <center>
        <table width="90%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="width: 90%; max-width: 580px; padding: 40px">
            <tr>
                <td align="center">
                    <h1>cdemi's Curated Newsletter</h1>
                    <h2>@DateTime.Now.ToString("dd MMMM yyyy")</h2>
                    <hr />
                </td>
            </tr>
            @foreach (var category in Model)
            {
                <tr>
                    <td>
                        <h2>@category.Category.Name</h2>
                    </td>
                </tr>
                @foreach (var newsItem in category.Newsitems)
                {
                    <tr>
                        <td align="center">
                            <a href="@newsItem.URL" target="_blank"><h3 style="display:inline-block;">@newsItem.Title</h3>&nbsp; <span style="font-size: 10px">(@(new Uri(newsItem.URL).Host.Replace("www.", "")))</span></a>
                        </td>
                    </tr>
                    @if (!String.IsNullOrEmpty(newsItem.ImageURL))
                    {
                        <tr>
                            <td align="center">
                                <a href="@newsItem.URL" target="_blank">
                                    <img src="@newsItem.ImageURL" style="margin:0; padding:0; border:none; display:block;max-height:185px;max-width:400px; margin:20px" border="0" alt="" />
                                </a>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td align="center">
                            <p>@newsItem.Summary... <br /><a href="@newsItem.URL" target="_blank">Read More...</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td height="50"></td>
                    </tr>
                }
                <tr>
                    <td height="50"><hr /></td>
                </tr>
            }

        </table>
    </center>
</body>
</html>
